* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  font-family: "Dancing Script", cursive;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Road Rage", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mochiy+Pop+P+One&family=Road+Rage&display=swap");
header,
.nav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgb(151, 146, 146);
  height: 10vh;
  width: 100vw;
  background-color: rgb(230, 222, 222);
  top: 0;
}

nav a:hover {
  background-color: rgb(210, 218, 221);
  padding: 20px;
  border-radius: 10%;
}
.section1 {
  margin: 6em auto;
  border: 1px solid rgb(214, 205, 205);
  border-radius: 20px;
  width: 90%;
  padding: 30px;
  line-height: 2rem;
}
.section1.description {
  margin-bottom: 15px;
}

.continer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo1,
.photo2,
.photo3 {
  margin: 30px auto;
  border: 1px solid;
  background-color: lightgrey;
  border-radius: 30px;
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
figure p:nth-child(1){
  width: 6em;
  height: 3em;
  background-color: lawngreen;
  border-radius: 50% 0% 50% 50%;
 

 
}
figure p{
padding-top: .5em;
text-align:center;
}
.more
{
  width: 2em;
    padding: 10px;
     border-radius: 10%;
    background-color: #e42c64;
   
}
.more:hover{
    background-color: lightseagreen;
}
picture figure img{
  width: 6rem;
 
}
/* section ruls */
section.row-ruls{
  width: 80%;
--main-bg-color:rgb(214, 205, 205);;
 display: flex;
 border-radius: 10px;
  margin: 0px auto;
  border: 1px solid;
  border-color: var(--main-bg-color);
}
#rules {
 font-weight: 800;
 font-size: 2em;
padding:3rem;
display: flex;
 align-items: center;
 border-right: 2px solid ;

}
.ruls-datal{
  flex-grow: 1;
  padding:4rem;

}
/* table */
table{
  margin: 0 auto;
  width: 80%;
}
table, th, td {
  border: 1px solid black;
}
td:hover{
  background-color: chartreuse;
}
@media screen and (max-width:925px) {
  .row-ruls{
    /* width: 50%vw; */
    padding:2px;
    /* height:60vh ; */
   
    font-size: 15px;
  }
  #rules{
    padding: 0;
    font-size: 2em;
  }
  .ruls-datal{
    padding: 2px;
  }
  .description-continer{
    margin-top: 7rem;;
    color: royalblue;
  }
}


